body {

}

main, 
#aside {
	margin: 0;

	> * {
		@include section;

		&:nth-child(even) {
			background: $alt-bg;
		}
	}
}

#aside {
	> * {
		&:nth-child(even) {
			background: transparent;
		}

		&:nth-child(odd) {
			background: $alt-bg;
		}
	}
}

#home-page main > *:nth-child(even) {
	background: transparent;
}

#home-page main > *:nth-child(odd) {
	background: $alt-bg;
}

header + main {
	padding-top: 100px;

	@media #{$bp-3} {
		padding-top: 150px;
	}
}
