// HTML covers everything so should be same color as footer
html {
	background: $header-bg;
}

// Body stops with content so should be default bg
body {
	background: $default-bg;

	// Weird edge case - a post with "icon" in its name will 
	// give body a class that contains icon and fontawesome 
	// will thusly give body an icon :P Hide it.
	&:before {
		display: none !important;
	}
}

// A little magic
a {
	transition: color .05s ease-out;
}

// Automatically make sections
main, 
#aside {
	margin: 0;

	> * {
		@include section;
	}
}

// Striped sections on home page
#home-page main, 
#home-page #aside {
	> *:nth-child(even) {
		background: $alt-bg;
	}
}

// Make room for header
header + main {
	padding-top: $h1-pos-bp1 - $margin * 3; // ($margin * 3 = padding for sections)

	@media #{$bp-3} {
		padding-top: $h1-pos-bp3 - $margin * 3;
	}
}

// Bigger opening paragraphs
main > :first-child > h1:first-child + p, 
main > :first-child > h2:first-child + p {
	@include first-p;
}
