// HTML covers everything so should be same color as footer
html {
	background: $header-bg;
}

// Body stops with content so should be default bg
body {
	background: $default-bg;
//	background-image: linear-gradient(90deg, darken($default-bg, 5%) 0%, $default-bg 5%, $default-bg 95%, darken($default-bg, 10%));

	// Weird edge case - a post with "icon" in its name will 
	// give body a class that contains icon and fontawesome 
	// will thusly give body an icon :P Hide it.
	&:before {
		display: none !important;
	}
}

// Some general styling
a {
	transition: color .05s ease-out;
}

ul.tags {
	@include tags;
}

p.pubdate {
	@include pubdate;
}

img.framed {
	@include framed(false);
}

img.framed.rounded {
	@include framed(true);
}

figure {
	margin: 0 0 $margin;
}

code {
	background: #eee;
}

// Automatically make sections
main, 
#aside {
	margin: 0;

	> * {
		@include section;
	}
}

// Striped sections on home page
@mixin alt-section {
	background: $alt-bg;

	border: 1px solid darken($alt-bg, 5%);
	border-width: 1px 0;
}

#home-page main, 
#home-page #aside {
	> *:nth-child(even) {
		@include alt-section;
	}
}

// Make room for header
header + main {
	padding-top: $margin-top-bp1;

	@media #{$bp-3} {
		padding-top: $margin-top-bp3;
	}
}

// Bigger opening paragraphs
main > :first-child > h1:first-child + p, 
main > :first-child > h2:first-child + p {
	@include first-p;
}
