@mixin portfolio-head {
	@include section($dark-blue-bg);
	
	color: $white-color;

	position: relative;
	overflow: hidden;

	padding-top: $h1-pos-bp1 - 100px; // 100px margin-top of h2 (project title)

	@media #{$bp-3} {
		padding-top: $h1-pos-bp3 - 100px;
	}

	// Images
	// First (Desktop) image as background
	figure {
		margin: 0;
	}

	figure:first-child {
		position: absolute;
		left: 0;
		top: 0;

		width: 100%;
		height: 100%;

		img {
			@include hero-img(false);
		}
	}

	// Potential low-res images (tablet/phone)
	figure + figure {
		@include device(280px);

		float: right;
		margin-bottom: -300px;
		margin-left: $margin * 2;

		// Scroll the img (website screenshot) on hover
		img {
			transition: transform 12s linear, top 12s linear;
			position: relative;
			top: 0;
		}

		&:hover img {
			top: 100%;
			transform: translateY(-100%);
		}

		// Don't show the phone on phones :P
		@media #{$bp-4-max} {
			display: none;
		}
	}

	// Position text etc on top of image
	* {
		position: relative;
	}

	// Project title
	h2 {
		@include hero-title;
		@include heading-size($h1-size);
		@include ellipsis;

		margin-top: 100px;
		margin-bottom: 0;
	}

	// Tags/technologies used
	ul {

	}

	// Description
	ul + p {
		@include first-p-hero;
	}
}

// Project
@mixin projects-project {
	> h1:first-child, 
	> h2:first-child {
		position: relative;

		&:before {
			font-size: 150px;

			position: absolute;
			left: -70px;
			top: -15px;

			opacity: .05;
			text-shadow: 0 0 0 $shadow-color;
			transform: rotate(-10deg);

			transition: transform .1s ease-out;
		}

		* {
			position: relative; // Render on top of icon
		}
	}

	&:hover > h1:first-child:before, 
	&:hover > h2:first-child:before {
		color: $heading-color;
		transform: scale(1.05) rotate(-10deg);
	}

	ul.tags {
		position: relative; // On top of icon
	}

	a.button + a.button {
		margin-left: $margin;
	}
}

// Post related
@mixin pubdate {
	@include icon($fa-var-clock-o, before);
	font-size: 80%;
	text-transform: uppercase;
	color: $gray-color;
}

@mixin posts-post {
	@include clearfix;

	h2 {
		a {
			img {
				@include framed(false);
				@include img-left($bp-3);

				// Make it half width
				@media #{$bp-3} {
					width: 50% - $gutter / 2;
					margin-right: $gutter;
				}
			}

			&:hover img {
				@include framed-hover;
			}
		}
	}

	@include post-meta;
}

@mixin post-meta {
	ul.tags {
		display: inline-block;
		margin-bottom: $margin / 2;
		margin-right: $margin / 2;
	}

	p.pubdate {
		display: inline-block;
	}
}

@mixin first-p {
	font-size: 120%;
	font-weight: bolder;
}

// Hero (use with @section)
@mixin hero {
	background: $dark-blue-bg;

	overflow: hidden;
	min-height: 90px;
	margin-top: -$margin-top-bp1;
	padding-top: $h1-pos-bp1;
	padding-bottom: 60px;

	@media #{$bp-3} {
		margin-top: -$margin-top-bp3;
		padding-top: $h1-pos-bp3;
		padding-bottom: 80px;

		// Give the next element some extra padding-top
		& + * {
			padding-top: 100px;
		}
	}

	color: $white-color;

	@include hero-shadow;
}

@mixin first-p-hero {
	font-size: 120%;
	font-style: italic;
	font-weight: lighter;
	line-height: 1.4;
	text-shadow: 1px 1px 1px $shadow-color;
}

@mixin hero-img ($blur: false) {
	&, 
	& + canvas {
		display: block;
		max-width: none;

		position: absolute;
		left: 50%;
		top: 0;

		transform: translateX(-50%);
		opacity: .8;

		@media #{$bp-3} {
			&.blur {
				left: -1000000px;
				top: -1000000px;
			}

			&:not(.blur) {
				@if ($blur) {
					-webkit-filter: blur(30px);
					filter: blur(30px);
				}
			}
		}

		@media #{$bp-3-max} {
			@if ($blur) {
				opacity: .08;
			}
		}
	}

	& + canvas {
		opacity: .8;

		@media #{$bp-3-max} {
			display: none;
		}
	}
}

@mixin hero-title {
	color: $white-color;
	text-shadow: 1px 1px 1px $shadow-color;

	a {
		color: $white-color;

		&:hover {
			color: $link-color-hover;
		}
	}
}

@mixin hero-shadow {
	&:after {
		background: linear-gradient(0, rgba($shadow-color, .4), rgba($shadow-color, 0));

		display: block;
		content: "";

		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 99;

		width: 100%;
		height: 4px;
	}
}

// Tags
@mixin tag {
	background: #f3f3f3;

	display: inline-block;
	padding: 0 6px;

	text-transform: uppercase;
	font-size: $default-size * .7;
	text-decoration: none;
	color: $default-color;

	border: 1px solid #e3e3e3;
	border-radius: 4px;

	transition: opacity .1s ease-out;
	opacity: .6;

	&:hover {
		opacity: 1;
	}
}

@mixin tags {
	margin-left: 0;
	list-style: none;

	li {
		display: inline-block;

		a {
			@include tag;
		}
	}
}

// Framed
@mixin framed ($round: false) {
	@if ($round) {
		border-radius: 100%;
	}

	transition: transform .2s ease-out, box-shadow .2s ease-out;

	border: 10px solid $white-color;
	box-shadow: 2px 2px 8px $shadow-color;

	a:hover & {
		@include framed-hover;
	}
}

@mixin framed-hover {
	transform: rotate(-.4deg) scale(1.01);
	box-shadow: 4px 4px 12px $shadow-color;
}
