/**
 * Bg colors
 */
$bg-colors: (
	"white": #fff
);

/**
 * Breakpoints
 */
$bp-small: '(min-width: 400px)';
$bp-small-max: '(max-width: 399px)';

$bp-medium: '(min-width: 760px)';
$bp-medium-max: '(max-width: 759px)';

$bp-large: '(min-width: 1020px)';
$bp-large-max: '(max-width: 1019px)';

$bp-x-large: '(min-width: 1600px)';
$bp-x-large-max: '(max-width: 1599px)';

/**
 * Button
 */
$button-padding-horizontal: 2.4rem;
$button-padding-vertical: .8rem;
$button-empty-padding-horizontal: 2rem;

$button-transition: false;

$button-border-width: 2px;
$button-border-style: solid;
$button-border-color: false; // This makes non ghost buttons have no border
$button-border-radius: 2rem;

$button-color: #ffa700;
$button-gradient: 0;
$button-shadow: true;

$button-text-shadow: true;
$button-text-color: #fff;
$button-line-height: 1.2;
$button-font-size: 1rem;
$button-font-weight: bold;
$button-text-transform: none;

$button-colors: (
	"secondary": #234,
	"disabled": #555
);

/**
 * Colors
 */
$color-body-bg: #fff;
$color-border: rgba(100, 100, 100, .5);
$color-shadow: rgba(0, 0, 0, .25);
$color-overlay: rgba(0, 0, 0, .5);
$color-lightgray: #f9f9f9;
$color-gray: #aaa;
$color-darkgray: darkgray;
$color-white: #fefefe;
$color-darkblue: #001116;

/**
 * Cols
 */
$col-nums: (
	"2": 2,
	"3": 3,
	"4": 4
);

$col-breakpoints: (
	"bp-small": $bp-small,
	"bp-medium": $bp-medium,
	"bp-large": $bp-large,
	"bp-x-large": $bp-x-large
);

/**
 * Form
 */
$color-form-field-bg: #fff;
$color-form-success: #060;
$color-form-error: #600;
$color-form-placeholder: #999;
$color-form-text: #333;

$form-padding-horizontal: 1em;
$form-padding-vertical: .8rem;

$form-border: true;
$form-border-radius: .2rem;

/**
 * Icons
 */
$icon-round-color: #369;

$icon-colors: (
	"blue": #0000ff
);

/**
 * Layout
 */
$site-width: 960px;
$site-width-max: 90%;

$margin-small: .5rem;
$margin-default: 1rem;

$padding-default: 1rem;

$gutter-default: 1rem;

$section-padding: 4rem;
$section-slant: 4rem;

$top-slant: polygon(0 #{$section-slant}, 100% 0, 100% 100%, 0 100%);
$bottom-slant: polygon(0 0, 100% 0, 100% calc(100% - #{$section-slant}), 0 100%);
$top-bottom-slant: polygon(0 #{$section-slant}, 100% 0, 100% calc(100% - #{$section-slant}), 0 100%);

/**
 * Text colors
 */
$text-colors: (
	"white": #fff
);

/**
 * Typography
 */
$font-family-default: "Open Sans", sans-serif;
$font-family-heading: $font-family-default;

$font-weight-default: normal;
$font-weight-heading: lighter;

$font-size-default: 1rem;
$font-size-small: 80%;
$font-size-large: 120%;
$font-size-x-large: 200%;

$line-height-default: 1.6;
$line-height-heading: 1.2;

$letter-spacing-default: 0;
$letter-spacing-heading: -2px;

$font-size-h1: 3.2rem;
$font-size-h2: 2.8rem;
$font-size-h3: 2.2rem;
$font-size-h4: 1.8rem;
$font-size-h5: 1.6rem;
$font-size-h6: 1.4rem;

$color-text: #444;
$color-heading: #333;

$color-link: #ffa700;
$color-link-hover: lighten(#ffa700, 10%);
$color-link-visited: #609;

$text-decoration-link: none;
