
$icon-facebook: "\e800";
$icon-twitter: "\e801";
$icon-instagram: "\e802";
$icon-linkedin: "\e803";
$icon-apple: "\e804";
$icon-crop: "\e805";
$icon-wordpress: "\e806";
$icon-flag: "\e807";
$icon-globe: "\e808";
$icon-location: "\e809";
$icon-picture: "\e80a";
$icon-zoom-in: "\e80b";
$icon-video: "\e80c";
$icon-server: "\e80d";
$icon-align-center: "\e80e";
$icon-eyedropper: "\e80f";
$icon-user: "\e810";
$icon-terminal: "\e811";
$icon-language: "\e812";
$icon-help-circled: "\e813";
$icon-puzzle: "\e814";
$icon-cogs: "\e815";
$icon-wheelchair: "\e816";
$icon-ok-circled: "\e817";
$icon-heart: "\e818";
$icon-check: "\e819";
$icon-html5: "\e81a";
$icon-css3: "\e81b";
$icon-file-code: "\e81c";
$icon-code: "\e81d";
$icon-search: "\e81e";
$icon-calculator: "\e81f";
$icon-youtube: "\e820";
$icon-clock: "\e821";
$icon-github: "\e822";
$icon-stack-overflow: "\e823";
$icon-google-plus: "\e824";
$icon-arrow-down: "\e825";
$icon-arrow-left: "\e826";
$icon-arrow-right: "\e827";
$icon-arrow-up: "\e828";
$icon-spinner: "\e829";
$icon-list: "\e82a";
$icon-archive: "\e82b";