#contact {
	background: $alt-bg;
	border: 1px solid darken($alt-bg, 10%);
	border-width: 1px 0 0;

	h2 {
		margin-bottom: $margin;
	}

	form {
		@include clearfix;

		// Hiding it
		max-height: 1200px;
		transition: max-height .3s ease-out;

		&.success {
			overflow: hidden;
			max-height: 0;
		}

		// Some default styling
		p {
			input {
				width: 100%;
			}

			textarea {
				width: 100%;
				height: 150px;
			}
		}

		// Submit
		p:last-child {
			text-align: right;
		}

		@media #{$bp-2} {
			p {
				float: left;
			}

			// Name, Email and Company
			p:first-child, 
			p:first-child + p, , 
			p:first-child + p + p {
				width: 32%;
				margin-right: 2%;
			}

			p:first-child + p + p {
				margin-right: 0;
			}

			// Deadline
			p:first-child + p + p + p {
				clear: left;

				width: 48%;
				margin-right: 4%;
			}

			// Budget
			p:first-child + p + p + p + p {
				width: 48%;
			}

			// Message
			p:first-child + p + p + p + p + p {
				float: none;
				clear: left;
			}

			// Captcha
			div.captcha-wrap {
				float: left;
			}

			// Submit
			p:last-child {
				float: right;
				margin-top: 17px; // Align with captcha
			}

			input[type=submit] {
				width: auto;
			}
		}
	}
}
