#featured-portfolio {
	padding: 0;

	article {
		@include section;
		@include hero;

		h2 {
			@include heading-size($h1-size);
			@include ellipsis;
		}

		// CTA
		p:last-child {
			margin-left: -10px; // Compensate for button margin

			a {
				margin: 0 10px 10px;
			}
		}

		// Read more.. about the project
		a span {
			@media #{$bp-3-max} {
				display: none;
			}
		}
	}
}

// Bounce animation
@mixin fp-ease-out-bounce {
	0% { transform: translateY(-100%); animation-timing-function: ease-in; }
	37% { transform: translateY(0%); animation-timing-function: ease-out; }
	55% { transform: translateY(-16%); animation-timing-function: ease-in; }
	73% { transform: translateY(0%); animation-timing-function: ease-out; }
	84% { transform: translateY(-4%); animation-timing-function: ease-in; }
	91% { transform: translateY(0%); animation-timing-function: ease-out; }
	96% { transform: translateY(-1%); animation-timing-function: ease-in; }
	100% { transform: translateY(0%); }
}

@-webkit-keyframes fp-ease-out-bounce {
	@include fp-ease-out-bounce;
}

@-moz-keyframes fp-ease-out-bounce {
	@include fp-ease-out-bounce;
}

@keyframes fp-ease-out-bounce {
	@include fp-ease-out-bounce;
}

// "Slideshow" code
#featured-portfolio {
	position: relative;
	overflow: hidden;

	min-height: 600px;

	@media #{$bp-3} {
		min-height: 550px;
	}

	// Every item starts above
	article {
		position: absolute;
		left: 0;
		top: 0;

		width: 100%;
		height: 100%;
		box-sizing: border-box;

		transform: translateY(-100%);
		transition: transform .2s ease-in;
	//	transition: transform 0 .6s;

		img + img {
			margin-bottom: 0;
			transition: transform .2s .2s ease-out;
			transform: translateY(100%);
		}
	}

	// The active item gets pushed down (TODO: Prevent first item from animating onload + fix last item/first item animation (z-index))
	article.active, 
	article:first-child, 
	&.loaded article.active:first-child {
		transform: translateY(0);

	//	-webkit-animation-name: fp-ease-out-bounce;
	//	-moz-animation-name: fp-ease-out-bounce;
	//	animation-name: fp-ease-out-bounce;

	//	-webkit-animation-duration: .6s;
	//	-moz-animation-duration: .6s;
	//	animation-duration: .6s;

	//	transform: translateY(0);

		// Slide down the phone
		img + img {
			transform: translateY(0);
		}
	}

	&.loaded article:first-child {
		transform: translateY(-100%);

		img + img {
			transform: translateY(100%);
		}
	}

	> a.next {
		@include icon($fa-var-arrow-down, before);
		@include icon-only();

		display: block;
		width: 40px;
		height: 40px;

		position: absolute;
		left: 50%;
		bottom: $margin;
		z-index: 99;

		margin-left: -25px;

		text-align: center;
		line-height: 40px;
		color: $white-color;

		border: 5px solid $white-color;
		border-radius: 100%;

		transition: opacity .2s ease-out, transform .2s ease-out;
		opacity: .2;

		&:hover {
			transform: scale(1.1);
			opacity: .8;
		}
	}
}
