#header {
	@include section();

	// Remove @secion clearfix (no good with flexbox)
	&:after {
		display: none;
	}

	// Custom paddings from other @sections
	padding-top: 12px;
	padding-bottom: 12px;

	// Background color, shadow
	background: linear-gradient(180deg, rgba($header-bg, .8) 50%, rgba($header-bg, .85) 50%, rgba($header-bg, .9));
//	background: rgba($header-bg, .8);
//	background: linear-gradient(140deg, rgba($header-bg, .75) 30%, lighten(rgba($header-bg, .75), 25%) 40%, lighten(rgba($header-bg, .75), 25%) 60%, rgba($header-bg, .75) 70%);

	box-shadow: 0 2px 2px $shadow-color;

	// Some nice text
	text-shadow: -1px -1px 1px rgba(60, 60, 60, .4);

	// Fixed header
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99;

	width: 100%;
	box-sizing: border-box; // Otherwise section()'s padding will mess the size up

	// Flexbox!!
	@media #{$bp-2} {
		@include flexbox;
		@include justify-content(space-between);
		@include align-items(center);
	}

	// We'll adjust its size later
	transition: padding-top .1s ease-out, padding-bottom .1s ease-out, transform .2s ease-out, height .1s ease-out;

	// Logo
	h1, 
	p.logo {
		@include heading($h3-size);
		font-size: $h3-size !important; // Because @heading adjusts the size based on resolution - we don't want that in this case
		margin: 0;
		transition: font-size .1s ease-out;

		// Neutral link
		a {
			font-weight: bold;
			color: $header-color;

			&:hover {
				text-decoration: none;
			}

			// I'm Andreas
			strong {
				font-weight: 300;
				color: $header-accent-color;
			}

			// Tagline
			small {
				@include body-text;
				@include ellipsis;
				line-height: 1.4;
				letter-spacing: 0;
				color: $header-color;
				font-size: $default-size * .8;
				font-weight: 300;

				// Hide tagline for now
				overflow: hidden;
				max-height: 0;
				transition: max-height .1s ease-out;

				em {
					font-style: normal;
					color: $header-accent-color;
					font-weight: bold;
				}
			}

			// Hover
			&:hover {
				strong {
				}
			}
		}
	}

	// Navigation
	div.widget_nav_menu {
		margin: 0;

		ul {
			margin: 0;
			list-style: none;

			li {
				display: inline-block;
				margin: 0 10px 0 0;
			//	cursor: pointer; // Pretend it's a link (we make it clickable with JS)
				position: relative;

				@media #{$bp-2} {
					margin: 0 0 0 20px;
				}

				a {
					font-size: $default-size * .8;
					text-transform: uppercase;
					color: rgba($white-color, .8);
					text-decoration: none;
					text-shadow: none;

					// Underline
					&:before, 
					&:after {
						background: rgba($white-color, .8);

						display: block;
						content: "";

						position: absolute;
						left: 50%;
						bottom: -15px;

						width: 0;
						height: 5px;

						transition: width .1s ease-out, left .1s ease-out;
					}
				}

				// Hover
				&:hover a, 
				&.active a, 
				&.active-parent a, 
				&.active-ancestor a {
					color: $white-color;

					// The border
					&:before {
						left: 0;
						width: 50%;
					}

					&:after {
						width: 50%;
					}
				}
			}
		}
	}

	// Search
	div.widget_search {
		display: none;

		form {
			p {
				margin: 0;

				input[type=search] {
				}
			}
		}
	}
}

// In hi res - when user hasn't scrolled down - display a larger header with tagline
@media #{$bp-3} {
	body:not(.has-scrolled) #header {
		padding-top: 20px;
		padding-bottom: 20px;

		h1, 
		p.logo {
		//	font-size: $h2-size !important;

			a {
				small {
					max-height: 30px;
				}
			}
		}
	}
}

// Menu de la hamburguesa - no, hide the header on scroll in lo res
@media #{$bp-3-max} {
	body.has-scrolled.scrolling-down #header {
		transform: translateY(-100%);
	}
}

// New styling for menu (can be commented to get the old version)
@media #{$bp-2} {
	#header {
		display: block; // Instead of flexbox - we're floating now
		height: 55px;

		padding-top: 0;
		padding-bottom: 0;

		h1, 
		p.logo {
			float: left;
			height: 100%;

			-webkit-transform-style: preserve-3d; // Fix potential bluriness
			-moz-transform-style: preserve-3d;
			transform-style: preserve-3d;

			a {
				display: block;

				// Vertical centering
				position: relative;
				top: 50%;
				transform: translateY(-50%);
			}
		}

		div.widget_nav_menu {
			float: right;
			height: 100%;

			ul {
				display: table;
				height: 100%;

				li {
					display: table-cell;
					vertical-align: middle;
					position: relative;
					margin: 0;
					border-left: 25px solid transparent;

					a {
						display: block;
						position: static;

						line-height: 55px; // Make clickable area bigger TODO: a should cover entire table cell and still be vertically centered

						&:before, 
						&:after {
							bottom: 0;
						}
					}
				}
			}
		}

		&:after {
			display: block; // Clearfix
		}
	}
}

@media #{$bp-3} {
	body:not(.has-scrolled) #header {
		height: 100px;
		padding-top: 0;
		padding-bottom: 0;

		h1, 
		p.logo {
			a {
				small {
					max-height: 30px;
				}
			}
		}
	}
}

// Another new version
@media #{$bp-2} {
	#header {
		div.widget_nav_menu {
			ul {
				margin-right: -12.5px;

				li {
					border: 0;

					a {
						padding: 0 12.5px;

						&:before, 
						&:after {
						//	display: none;
						}
					}

					background: rgba(darken($header-bg, 10%), 0);
					transition: background .1s ease-out;

					// Hover / active
					&:hover, 
					&.active, 
					&.active-parent, 
					&.active-ancestor {
						background: rgba(darken($header-bg, 10%), .4);
						box-shadow: inset 1px 1px 1px $shadow-color;

						a {
							color: $white-color;
						}
					}
				}
			}
		}
	}
}

// On second thought, show the tagline on mobile
/* @media #{$bp-2-max} {
	#header h1, 
	#header p.logo {
		a small {
			max-height: none;
		}
	}
} */

// Actually no - display: none it
@media #{$bp-3-max} {
	#header h1, 
	#header p.logo {
		a small {
			display: none;
		}
	}
}
