#header {
	@include section();

	// Remove @secion clearfix (no good with flexbox)
	&:after {
		display: none;
	}

	// Custom paddings from other @sections
	padding-top: 10px;
	padding-bottom: 10px;

	// Background color, shadow
	$header-bg-color: #012;

//	background: linear-gradient(180deg, rgba($header-bg-color, .8) 50%, rgba($header-bg-color, .85) 50%, rgba($header-bg-color, .9));
	background: rgba($header-bg-color, .8);
//	background: linear-gradient(140deg, rgba($header-bg-color, .75) 30%, lighten(rgba($header-bg-color, .75), 25%) 40%, lighten(rgba($header-bg-color, .75), 25%) 60%, rgba($header-bg-color, .75) 70%);

	box-shadow: 0 2px 2px $shadow-color;

	// Some nice text
	color: $white-color;
	text-shadow: -1px -1px 1px rgba(60, 60, 60, .4);

	// Fixed header
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99;

	width: 100%;
	box-sizing: border-box; // Otherwise section()'s padding will fuck the size up

	// Flexbox!!
	@media #{$bp-3} {
		@include flexbox;
		@include justify-content(space-between);
		@include align-items(center);
	}

	// We'll adjust its size later
	transition: padding-top .1s ease-out, padding-bottom .1s ease-out, transform .2s ease-out;

	// Logo
	h1, 
	p.logo {
		@include heading($h3-size);
		font-size: $h3-size !important; // Because @heading adjusts the size based on resolution - we don't want that in this case
		margin: 0;
		transition: font-size .1s ease-out;

		// Neutral link
		a {
			color: $white-color;

			&:hover {
				text-decoration: none;
			}

			// I'm Andreas
			strong {
				font-weight: lighter;
				color: $link-color;
			}

			// Tagline
			small {
				@include body-text;
				line-height: 1.4;
				letter-spacing: 0;
				color: inherit;
				overflow: hidden;

				// Hide tagline for now
				max-height: 0;
				transition: max-height .2s ease-out;
			}

			// Hover
			&:hover {
				strong {
					&:first-letter {
						color: red;
					}
				}
			}
		}
	}

	// Navigation
	div.widget_nav_menu {
		margin: 0;

		ul {
			margin: 0;
			list-style: none;

			li {
				display: inline-block;
				margin: 0 5px 0 0;

				@media #{$bp-3} {
					margin: 0 0 0 10px;
				}

				a {
					color: inherit;
					text-decoration: none;
					text-shadow: none;

					&:hover, 
					&:active {
						
					}
				}
			}
		}
	}

	// Search
	div.widget_search {
		display: none;

		form {
			p {
				margin: 0;

				input[type=search] {
				}
			}
		}
	}
}

// In hi res - when user hasn't scrolled down - display a larger header with tagline
@media #{$bp-3} {
	body:not(.has-scrolled) #header {
		padding-top: 20px;
		padding-bottom: 20px;

		h1, 
		p.logo {
		//	font-size: $h2-size !important;

			a {
				small {
					max-height: 30px;
				}
			}
		}
	}
}

// Menu de la hamburguesa
@media #{$bp-3-max} {
	body.has-scrolled.scrolling-down #header {
		transform: translateY(-100%);
	}
}
