#latest-blog {
	@include clearfix;

	img {
		@include bordered;

		display: block;
		margin: 0 0 $margin;

		@media #{$bp-3} {
			width: calc(50% - #{$margin / 2});
			margin: 0 $margin $margin 0;
			float: left;
		}
	}
}
