html.page-portfoliowidgethii039mandreas {
	background: #fff;
}

body.page-template-portfolio-widget {
	background: #fff;

	#portfolios {
		padding: 0;
		text-align: left;

		article {
			max-width: 240px;
			margin-left: 0;

			&:hover {
				transform: none;
			}
		}
	}
}
