#portfolios {
	// Columns
	@media #{$bp-4-max} {
		text-align: center;

		article {
			display: inline-block;
			margin: 0 ($margin / 2) $margin;
		}
	}

	@media #{$bp-4} {
		@include cols(3, $gutter);

		article {
			clear: none !important;
		}
	}

	// Each article item
	article {
		@include framed;

		position: relative;
		overflow: hidden;

		@media #{$bp-3} {
			transform: scale(1);
			transition: transform .1s ease-out;

			&:hover {
				transform: scale(1.1);
				z-index: 1;
			}
		}

		figure {
			margin: 0;

			img {
				display: block;
				max-width: 260px;
			}
		}

		> div {
			background-color: rgba(255, 255, 255, .4);
			background-position: left bottom;
			background-repeat: no-repeat;
			background-size: 100% auto;

			position: absolute;
			left: 0;
			bottom: 0;

			width: 100%;
			box-sizing: border-box;
			padding: $margin;

			font-size: 80%;
			text-align: left;
		//	color: $white-color;

			transform: translateY(100%);
			transition: transform .1s ease-out;

			// Background overlay
			&:before {
				background: rgba(255, 255, 255, .4);

				display: block;
				content: "";

				position: absolute;
				left: 0;
				top: 0;

				width: 100%;
				height: 100%;
			}

			// Render on top of overlay
			* {
				position: relative;
			}

			h2 {
			//	@include hero-title;
				@include heading-size($h5-size);
				@include ellipsis;

				text-shadow: 1px 1px 1px $shadow-color;
			}

			p {
				margin: 0;
				line-height: 1.4;
			}
		}

		&:hover > div {
			transform: translateY(0);
		}
	}
}
