#portfolios {
	@include section-centering(-$margin);

	// Columns
	font-size: 0; // Remove space between inline-block elements
	text-align: center;

	article {
		vertical-align: top;
		display: inline-block;
		margin: 0 $margin $margin;
	}

	// Each article item
	article {
		@include portfolios-portfolio;

		&.hidden {
			max-width: 0;
			max-height: 0;
			border: 0;
			margin: 0;
		}
	}
}
