#posts-intro {
	@include hero;

	> p:first-of-type {
		@media #{$bp-3} {
			padding-right: $main-nav-width + $gutter; // Make room for tags
		}
	}

	ul {
		@media #{$bp-3} {
			margin: 0;
			position: absolute;
			z-index: 1;
			@include section-right;
			@include section-bottom;
			max-width: $main-nav-width + 6px; // 6px because of li margin

			@include spread-out-tags(6px, 25%, right);
		}
	}

	form {
		@media #{$bp-3} {
			position: absolute;
			@include section-right;
			top: 140px;
		}
	}
}

@media #{$bp-3} {
	html.search #posts-intro {
		h1 {
			padding-right: $main-nav-width + $margin;
		}

		form {
			top: $h1-pos-bp3 + 5px;
		}
	}
}
