#post {
	padding: 0; // Remove padding set by layout to all main > *

	> * {
		@include section;
	}

	header {
		@include hero;

		img {
			@include hero-img;
		}

		* {
			position: relative;
		}

		ul.tags {
			margin: 0 0 10px 0;
		}

		time {
			@include icon($fa-var-clock-o, before);
		}

		h1 {
			@include hero-title;
			max-width: $max-site-width / 2;
		}
	}

	> div {
		p:first-child {
			@include first-p;
		}
	}
}
