#post-comment {
	h3 {
		@include heading-size($h2-size);
	}

	form {
		@include clearfix;

		span.required {
			color: $error-color;
		}

		p {
			input {
				width: 100%;
			}

			textarea {
				width: 100%;
				height: 150px;
			}
		}

		p.form-allowed-tags {
			font-size: $default-size * .8;
		}

		@media #{$bp-3} {
			p.comment-form-author, 
			p.comment-form-email, 
			p.comment-form-url {
				width: 32%;
				margin-right: 2%;
				float: left;
			}

			p.comment-form-url {
				margin-right: 0;
			}

			p.comment-form-comment {
			
			}

			p.form-submit {
				text-align: right;
			}

			input[type=submit] {
				width: auto;
			}
		}
	}
}
