#posts-intro {
	@include hero;

	img {
		@include hero-img;
	}

	h1 {
		@include hero-title;
	}

	> p:first-of-type {
		@include first-p-hero;

		@media #{$bp-3} {
			padding-right: $main-nav-width + $margin; // Make room for tags
		}
	}

	ul {
		@media #{$bp-3} {
			position: absolute;
			z-index: 1;
			@include section-right;
			@include section-bottom;
			max-width: $main-nav-width + 6px; // 6px because of li margin

			@include spread-out-tags(6px);
		}
	}

	* {
		position: relative; // On top of image
	}

	form {
		@media #{$bp-3} {
			position: absolute;
			@include section-right;
			top: 140px;
		}
	}
}

@media #{$bp-3} {
	body.search #posts-intro {
		h1 {
			padding-right: 320px;
		}

		form {
			top: $h1-pos-bp3 + 5px;
		}
	}
}
