#posts-intro {
	@include hero;

	> p:first-of-type {
		@media #{$bp-3} {
			padding-right: $main-nav-width + $gutter; // Make room for tags
		}
	}

	@media #{$bp-3} {
		ul {
			margin: 0;
			position: absolute;
			z-index: 1;
			@include section-right;
			@include section-bottom;
			max-width: $main-nav-width + 6px; // 6px because of li margin

			@include spread-out-tags(6px, 25%, right);
		}
	}

	form {
		@media #{$bp-3} {
			position: absolute;
			@include section-right;
			top: 140px;
		}
	}
}

// Slide in the tags
#posts-intro ul li {
	opacity: 0;
	transform: translateX(30px);
	transition: all .08s ease-out;

	@include increment-transition(li, .05, 40);
}

body.loaded {
	#posts-intro ul li {
		opacity: 1;
		transform: translateX(0);
	}
}

// Search page
@media #{$bp-3} {
	html.search #posts-intro {
		h1 {
			padding-right: $main-nav-width + $margin;
		}

		form {
			top: $h1-pos-bp3 + 5px;
		}
	}
}

// Author listing
html.author #posts-intro {
	img {
		@include align-left;
		@include framed(true);
		border: 0;
		width: 130px;
	}

	> p:not(.pubdate):first-of-type {
		padding-right: 0;
	}
}
