#posts-intro {
	@include hero;

	img {
		@include hero-img;
	}

	h1 {
		@include hero-title;
	}

	p:first-of-type {
		@include first-p-hero;
	}

	* {
		position: relative; // On top of image
	}
}

#posts {
	article {
		@include posts-post;

		h2 a:first-child:hover + a, 
		h2 a:first-child:hover + small + a {
			color: $link-color-hover;
		}
	}
}
