#post {
	background: transparent; // Remove bg & padding set by layout to all main > *
	padding: 0;

	> * {
		@include section;
	}

	header {
		@include hero;

		img {
			@include hero-img;
		}

		* {
			position: relative; // On top of image
		}

		h1 {
			@include hero-title;
			margin-bottom: 0;
		}

		time {
			@include pubdate;
		}
	}

	> div {
		p:first-child {
			@include first-p;
		}
	}
}
