#post {
	background: transparent; // Remove bg & padding set by layout to all main > *
	padding: 0;

	> * {
		@include section;
	}

	figure {
		@include hero;
		overflow: hidden;

		img {
			@include hero-img;
		}
	}

	header {
		@include post-meta;
		padding-bottom: 0;
		margin-bottom: $margin;
	}

	> div {
		padding-top: 0;

		p:first-child {
			@include first-p;
		}
	}
}
