#random-projects {
	@include clearfix;

	article {
		h2 a {
			&:before {
				@include img-right(false);
				font-size: 80px;
				margin-right: $margin * 2;
				text-shadow: 0 0 0 $shadow-color;
				transition: transform .1s ease-out, text-shadow .1s ease-out;
			}

			&:hover:before {
				transform: scale(1.1);
				text-shadow: 2px 2px 8px rgba($shadow-color, .1);
			}
		}

		@media #{$bp-3} {
			margin: 0;
			width: 50% - $gutter / 2;
			float: left;
		}

		img {
			border-width: 5px;
		}

		a.button + a.button {
			margin-left: $margin;
		}
	}

	article + article {
		@media #{$bp-3} {
			float: right;
		}
	}
}
