#random-projects {
	article {
		margin: 0;

		img {
			@include framed;
			@include img-left($bp-3);
		}

		h2 {
			small {
				@media #{$bp-3} {
					display: inline-block;

					&:before {
						content: " - ";
					}
				}
			}
		}

		ul {

		}
	}

	article + article {
		display: none;
	}
}
