#random-projects {
	@include clearfix;

	article {
		h2 a:before {
			@include img-right(false);
			font-size: 80px;
			margin-right: $margin;
		}

		@media #{$bp-3} {
			margin: 0;
			width: 50% - $gutter;
			float: left;
		}

		img {
			border-width: 5px;
		}

		a.button + a.button {
			margin-left: $margin;
		}
	}

	article + article {
		@media #{$bp-3} {
			float: right;
		}
	}
}
