form.search {
	opacity: 0;
	transform: translateX(40px);
	transition: all .1s .6s ease-out;

	body.loaded & {
		opacity: 1;
		transform: translateX(0);
	}

	p {
		input[type=search] {
			display: block;
			float: left;
			width: 220px;
			transition: width .05s ease-out;

			&:focus {
				width: $main-nav-width;
			}
		}

		button {
			@include icon($fa-var-search, before);
			@include icon-only;

			// Remove button styling
			background: transparent;
			border: 0;
			box-shadow: none;
			text-shadow: none;

			// On top of input
			display: block;
			float: left;
			padding: 0;
			width: 40px;
			height: 40px;
			margin-left: -40px;

			color: $button-secondary-color;
		}
	}
}
