#serp {
	// Posts
	article.post {
		@include posts-post;
	}

	// Projects
	article.project {
		@include projects-project;
	}

	// Portfolios
	article.portfolio {
		@include portfolios-portfolio;
	}

	// Testimonials
	article.testimonial {
		@include testimonials-testimonial;
	}

	// Grid
	article {
		margin-top: $margin * 4 !important;
		margin-bottom: $margin * 4 !important;
	}

	@media #{$bp-3} {
		article.project {
			@include col(2, $gutter);
		}

		// Pain... (TODO: Turn this into a mixin! (@include clear-cols(3, $gutter))
		article.project, 
		article.project + article.project + article.project, 
		article.project + article.project + article.project + article.project + article.project, 
		article.project + article.project + article.project + article.project + article.project + article.project + article.project, 
		article.project + article.project + article.project + article.project + article.project + article.project + article.project + article.project + article.project {
			margin-right: $gutter !important;
			clear: both !important;
		}

		article.project + article.project, 
		article.project + article.project + article.project + article.project, 
		article.project + article.project + article.project + article.project + article.project + article.project, 
		article.project + article.project + article.project + article.project + article.project + article.project + article.project + article.project, 
		article.project + article.project + article.project + article.project + article.project + article.project + article.project + article.project + article.project + article.project {
			margin-right: 0 !important;
			clear: none !important;
		}
	}

	@media #{$bp-2} and #{$bp-3-max} {
		article.portfolio {
			@include col(2, $margin * 2);
			margin-bottom: $margin * 2 !important;
			margin-top: 0 !important;
		}

		// Pain...
		article.portfolio, 
		article.portfolio + article.portfolio + article.portfolio, 
		article.portfolio + article.portfolio + article.portfolio + article.portfolio + article.portfolio, 
		article.portfolio + article.portfolio + article.portfolio + article.portfolio + article.portfolio + article.portfolio + article.portfolio, 
		article.portfolio + article.portfolio + article.portfolio + article.portfolio + article.portfolio + article.portfolio + article.portfolio + article.portfolio + article.portfolio {
			margin-right: $margin * 2 !important;
			clear: both !important;
		}

		article.portfolio + article.portfolio, 
		article.portfolio + article.portfolio + article.portfolio + article.portfolio, 
		article.portfolio + article.portfolio + article.portfolio + article.portfolio + article.portfolio + article.portfolio, 
		article.portfolio + article.portfolio + article.portfolio + article.portfolio + article.portfolio + article.portfolio + article.portfolio + article.portfolio, 
		article.portfolio + article.portfolio + article.portfolio + article.portfolio + article.portfolio + article.portfolio + article.portfolio + article.portfolio + article.portfolio + article.portfolio {
			margin-right: 0 !important;
			clear: none !important;
		}
	}

	@media #{$bp-3} {
		article.portfolio {
			@include col(3, $margin * 2);
			margin-bottom: $margin * 2 !important;
			margin-top: 0 !important;
		}

		article.portfolio, 
		article.portfolio + article.portfolio + article.portfolio + article.portfolio, 
		article.portfolio + article.portfolio + article.portfolio + article.portfolio + article.portfolio + article.portfolio + article.portfolio {
			margin-right: $margin * 2 !important;
			clear: both !important;
		}

		article.portfolio + article.portfolio, 
		article.portfolio + article.portfolio + article.portfolio + article.portfolio + article.portfolio, 
		article.portfolio + article.portfolio + article.portfolio + article.portfolio + article.portfolio + article.portfolio + article.portfolio + article.portfolio {
			margin-right: $margin * 2 !important;
			clear: none !important;
		}

		article.portfolio + article.portfolio + article.portfolio, 
		article.portfolio + article.portfolio + article.portfolio + article.portfolio + article.portfolio + article.portfolio, 
		article.portfolio + article.portfolio + article.portfolio + article.portfolio + article.portfolio + article.portfolio + article.portfolio + article.portfolio + article.portfolio {
			margin-right: 0 !important;
			clear: none !important;
		}
	}

	article.testimonial, 
	article.post, 
	article.portfolio + article.project, 
	article.project + article.portfolio {
		clear: both;
	}
}
