// All singles
#post, 
#project, 
#portfolio, 
#four-o-four {
	// Post is already a section

	header {
		@include section();
		@include section-inner(top);
		@include hero;

		@media #{$bp-3} {
			h1 {
				max-width: calc(100% - #{$main-nav-width});
			}
		}
	}

	article {
		> p:first-child {
			@include first-p;
		}
	}

	@media #{$bp-3} {
		article {
			width: calc(100% - #{$main-nav-width + $gutter});
			float: left;
		}

		aside {
			width: $main-nav-width;
			float: right;
			font-size: $default-size * .8;
		}
	}

	aside {
		ul.tags {
			@include spread-out-tags(6px, 25%);
			margin-right: -6px;
		}
	}
}

// Projects
#project {
	header {
		@include projects-project; // Icon styling

		// Bigger icon here
		h1:before {
			font-size: 400px;
			top: -180px;
			left: -200px;
		}

		p {
			margin-bottom: 0;
		}
	}
}

// Portfolio
#portfolio {
	header {
		h1 {
			@include ellipsis;
		}
	}
}
