@mixin button ($bg-color: $button-color, $fade: $button-fade, $border: false) {
	@include button-background($bg-color, $fade);

	display: inline-block;

	margin: 0;
	padding: .4rem 1.8rem;

	color: $white-color;
	font-weight: normal;
	text-decoration: none;

	@if ($border) {
		border: $border;
	}
	@else {
		border: 0;
	}

	border-radius: 2rem;

//	box-shadow: 1px 1px 1px $shadow-color;

	// Separate grouped buttons
	&:not(:only-child) {
		margin-right: .5rem;
		margin-left: .5rem;
	}

	&:not(:only-child):first-child {
		margin-left: 0;
	}

	&:visited {
		color: $white-color;
	}

	// Hover (:active set byt button-background())
	&:hover {
		color: $white-color;
	}
}

@mixin button-background ($bg, $fade: $button-fade) {
	@if ($fade > 0) {
		background: linear-gradient(180deg, $bg, darken($bg, $fade));
	
		&:active {
			background: linear-gradient(180deg, darken($bg, $fade), $bg);
		}
	}
	@else {
		background: $bg;
	}

	$btn-shadow-color: $shadow-color;

	@if ($bg != transparent) {
		$btn-shadow-color: darken($bg, 20%);
	}

	text-shadow: -1px -1px 0 $btn-shadow-color;
}
