@mixin speech-bubble {
	@include arrow(left, 20px, $white-color, 1px, $border-color);

	background: $white-color;

	display: block;

	margin-left: 20px;
	padding: $margin ($margin * 1.5);

	border: 1px solid $border-color;
	border-radius: 30px;
}
