@mixin tag {
	background: #f3f3f3;

	display: inline-block;
	padding: .1rem .6rem;

	text-transform: uppercase;
	font-size: 66%;
	text-decoration: none;
	color: $gray-color;

	border: 1px solid #e3e3e3;
	border-radius: .4rem;

	&:hover {
		color: $default-color;
	}
}

@mixin tags {
	margin-left: 0;
	list-style: none;

	li {
		display: inline-block;

		a {
			@include tag;
		}
	}
}
