// Hero (use with @section)
@mixin hero ($blur: false) {
	background-color: $hero-bg;

	// Can use border instead
//	@include section-border-centering;

//	padding-left: 0 !important; // This is set in border-centering and section but for some reason this doesn't override it without !important
//	padding-right: 0 !important;

	// Different backgrounds
/*	background-color: $hero-bg;
	background-image: url(gfx/classy-fabric@2X.png);
	background-size: 102px 102px;

	background-image: url(gfx/vertical-cloth@2X.png);
	background-size: 398px 400px;

	background-image: url(gfx/stressed-linen-o50@2X.png);
	background-size: 256px 256px;

	background-image: linear-gradient(180deg, lighten($hero-bg, 20%) 0%, $hero-bg 100%), url(gfx/noisy-net-o50@2X.png);
	background-size: 200px 200px; */

/*	background-image:	url(gfx/stressed-linen-o50@2X.png), 
					//	linear-gradient(180deg, lighten($hero-bg, 10%) 0%, darken($hero-bg, 10%) 100%);
						radial-gradient(500px at 50% -50%, lighten($hero-bg, 20%) 0%, $hero-bg 100%);
	background-repeat:	repeat, no-repeat;
	background-size:	256px 256px, auto;
//	background-clip:	border-box; // This works fine for the image but not for the gradient - wtf?
//	background-size:	256px 256px, 500% auto; // So we have to fake it
//	background-position:left top, 50% top; */

	background-image: radial-gradient(500px at 50% -50%, lighten($hero-bg, 20%) 0%, $hero-bg 100%);
	background-repeat: no-repeat;

	// Nice and white-space:y
	box-sizing: border-box;
	overflow: hidden;
	min-height: 340px;
	padding-top: $h1-pos-bp1;
	padding-bottom: 60px;

	@media #{$bp-3} {
		padding-top: $h1-pos-bp3;
		min-height: 460px;
	}

	color: $white-color;

	// First img (or potential canvas) in hero to be used as background
	> img:first-child, 
	> canvas, 
	> canvas + img {
		display: block;
		max-width: none;

		position: absolute;
		left: 50%;
		top: 0;

		transform: translateX(-50%);
		opacity: .8;

		@media #{$bp-3} {
			// If we're using .blur (canvas blur) - hide the img
			&.blur {
				left: -1000000px;
				top: -1000000px;
			}

			// If it's not an img.blur but $blur is true - CSS filter blur
			&:not(.blur) {
				@if ($blur) {
					-webkit-filter: blur(30px);
					filter: blur(30px);
				}
			}
		}

		// Make the img really dark on mobile (blur too cpu heavy)
		@media #{$bp-3-max} {
			&:not(.blur) {
				@if ($blur) {
					opacity: .08;
				}
			}
		}
	}

	> canvas {
		width: 100%;
		height: 100%;
	}

	// Second img is assumed to be a screenshot of a mobile website... :P
	> img + img {
		@include device($main-nav-width, #222, false);

		float: right;
		margin: -100px 0 -350px $gutter;

		@media #{$bp-3-max} {
			display: none;
		}
	}

	// Position everything else on top of first img
	> * {
		position: relative;
	}

	// Heading
	h1, 
	h2 {
		color: $white-color;
		text-shadow: 1px 1px 1px $shadow-color;

		small {
			a {
				color: $gray-color;
			}
		}

		a {
			color: $white-color;

			&:hover {
				color: $link-color-hover;
			}
		}
	}

	// Pull up tags if they're directly after a heading
	h1 + ul.tags, 
	h2 + ul.tags {
		margin-top: -($margin / 2);
	}

	// Excerpt
	> p:not(.pubdate):first-of-type {
		font-size: 120%;
		font-style: italic;
		font-weight: lighter;
		line-height: 1.4;
		text-shadow: 1px 1px 1px $shadow-color;
	}

	// Pubdate needs some shadow too
	p.pubdate {
		text-shadow: -1px -1px 0 rgba($shadow-color, .6);
	}

	// Shadow
	&:after {
		background: linear-gradient(0, rgba($shadow-color, .4), rgba($shadow-color, 0));

		display: block;
		content: "";

		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 99;

		width: 100%;
		height: 4px;
	}
}
