// Post related
@mixin posts-post {
	@include clearfix;

	h2 {
		a {
			img {
				@include framed(false);
				@include align-left($bp-3);

				// Make it half width
				@media #{$bp-3} {
					width: calc(50% - #{$gutter / 2});
					margin-right: $gutter;
				}
			}

			&:hover img {
				@include framed-hover;
			}
		}
	}

	ul.tags {
		display: inline-block;
		margin-bottom: $margin / 2;
		margin-right: $margin / 2;
	}

	p.pubdate {
		display: inline-block;
	}

	ul.tags {
		display: inline; // Fix for falling below floated img
	}
}
