// Project
@mixin projects-project {
	> h1:first-child, 
	> h2:first-child {
		position: relative;

		&:before {
			font-size: 150px;

			position: absolute;
			left: -70px;
			top: -15px;

			opacity: .05;
			text-shadow: 0 0 0 $shadow-color;
			transform: rotate(-10deg);

			transition: transform .1s ease-out;
		}

		* {
			position: relative; // Render on top of icon
		}
	}

	&:hover > h1:first-child:before, 
	&:hover > h2:first-child:before {
		color: $heading-color;
		transform: scale(1.05) rotate(-10deg);
	}

	ul.tags {
		position: relative; // On top of icon
	}

	a.button + a.button {
		margin-left: $margin;
	}
}
