// Project
@mixin projects-project {
	h1, 
	h2 {
		position: relative;

		&:before {
			font-size: 150px;

			position: absolute;
			left: -70px;
			top: -15px;

			opacity: .05;
			text-shadow: 0 0 0 $shadow-color;
			transform: rotate(-10deg);

		//	transition: transform .1s ease-out;
		}
	}

	* {
		position: relative; // Render on top of icon
	}

	a.button + a.button {
		margin-left: $margin;
	}
}
