@mixin testimonials-testimonial {
	@media #{$bp-3} {
		@include flexbox;
		@include justify-content(space-between);
		@include align-items(center);
	}

	margin: 0;

	perspective: 800px;

	&:hover figure:not(.no-img) {
		transform: rotateY(180deg);
	}

	figure {
		@include card-flip(false, Y);

		width: 180px;
		height: 180px;
		margin: 0 auto $margin;

		text-align: center;

		@media #{$bp-3} {
			@include flex-shrink(0);

			margin: 0 $margin 0 0;
		}

		img {
			@include framed(true);
			display: block;
			box-sizing: content-box;
		}

		figcaption {
			@include framed(true);

			background: $alt-bg;

			box-sizing: border-box;
			height: 100%;
			padding: 60px 5px 0;

			cite {
				display: block;
				font-style: normal;
				@include ellipsis;
				line-height: 1.6;
			}

			small {
				display: block;
				line-height: 1.4;
			}
		}
	}

	blockquote {
		margin: 0;

		@media #{$bp-3-max} {
			@include speech-bubble(top);
		}

		@media #{$bp-3} {
			@include speech-bubble(left);
		}
	}
}
