@mixin hero {
	@include section;
	@include bg-overlay(rgba(0, 0, 0, .2));

	// Loads of padding top to make room for header
	padding-top: 5rem;
	padding-bottom: 4rem;

	@media #{$bp-medium} {
		padding-top: 10rem;
	}

	// Background gradient and image styling
	background-image: radial-gradient(500px at 50% -50%, lighten($color-x-darkblue, 20%) 0%, $color-x-darkblue 100%);
	background-color: $color-x-darkblue;
	background-repeat: no-repeat;
	background-position: 50% top;
	background-size: cover;

	// White, shadowy text
	color: $color-white;
	text-shadow: 1px 1px 1px $color-shadow;

	> canvas {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: .3;
		margin: 0;
	}

	> * {
		position: relative;
	}

	// Headings
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.heading--1,
	.heading--2,
	.heading--3,
	.heading--4,
	.heading--5,
	.heading--6 {
		margin: 0;
		color: $color-white;
		max-width: 40rem;
	}

	// "First" heading
	> img:first-child + h1,
	> img:first-child + h2,
	> canvas:first-child + h1,
	> canvas:first-child + h2,
	> h1:first-child,
	> h2:first-child {
		margin-top: 5rem;
		font-size: $font-size-h2;

		@media #{$bp-medium} {
			font-size: $font-size-h1;
		}

		// Pull up its height
		small {
			// margin-top: -($font-size-h1 * .6 * $line-height-heading);
		}
	}

	// Mobile phone image
	img.mobile-screenshot {
		@include device(285px, #222, false);
		float: right;
		margin: 0 0 -350px $gutter-default;

		@media #{$bp-large-max} {
			display: none;
		}
	}

	// Separate buttons
	.button {
		vertical-align: baseline;

		&:not(:only-child) {
			margin-bottom: $margin-default;
		}
	}

	// Remove margin
	> :last-child {
		margin-bottom: 0;
	}
}
