.post {
	@include clearfix;

	h2 {
		a {
			img {
				@include framed(false);
				@include float-left($bp-medium);

				// Make it half width
				@media #{$bp-medium} {
					width: calc(50% - #{$gutter-default / 2});
					margin-right: $gutter-default;
				}
			}

			&:hover img {
				@include framed-hover;
			}
		}
	}

	.tags,
	.pubdate {
		display: inline-block;
	}
}
