@function strip-units ($number) {
	@return $number / ($number * 0 + 1);
}

@mixin device ($src, $render-width, $width, $height, $offset-top, $offset-right, $offset-bottom, $offset-left) {
	$ratio: $render-width / $width;
	$border-top-width: strip-units($offset-top / 100) * $height * $ratio;
	$border-right-width: strip-units($offset-right / 100) * $width * $ratio;
	$border-bottom-width: strip-units($offset-bottom / 100) * $height * $ratio;
	$border-left-width: strip-units($offset-left / 100) * $width * $ratio;

	border-image: url($src) $offset-top $offset-right $offset-bottom $offset-left;
	border-width: #{$border-top-width}px #{$border-right-width}px #{$border-bottom-width}px #{$border-left-width}px;

	width: #{$render-width - $border-left-width - $border-right-width}px;
	height: #{$height * $ratio - $border-top-width - $border-bottom-width}px;

	overflow: hidden;
}

#featured-portfolio {
	// Nothing here atm...

	// Each item
	> article {
		@include clearfix;

		// Images
		> ul:first-child {
			margin-left: 0;
			list-style: none;

			font-size: 2px; // To remove any spacing (0 or 1px doesn't work together with letter-spacing in Chrome...?)
			letter-spacing: -3rem; // Render devices on top of eachother

			// Reflect this whole element (nope: too slow together with animated images)
			-webkit-box-reflect: below 0 -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 85%, white 150%);

			// Each image
			> li {
				display: inline-block;

				// Some nice hover effects (nope: too slow together with reflection)
			/*	position: relative;
				bottom: 0;
				transition: bottom .2s ease-in-out;

				&:hover {
					bottom: $margin / 2;
				} */

				// Ignore line-height etc
				img {
					display: block;
				}

				// Different screen sizes
				&.desktop {
					@include device("gfx/imac.svg", 600, 100, 82.65, 3.21%, 2.65%, 30.22%, 2.65%);
				}

				&.tablet {
					@include device("gfx/ipad.png", 240, 100, 148, 10.28%, 5.94%, 10.13%, 5.59%);
				}

				&.mobile {
					@include device("gfx/iphone.svg", 120, 100, 209.75, 14.30%, 6.41%, 13.54%, 7.56%);
				}
			}
		}
	}
}
