#featured-portfolio {
	position: relative;
	margin: 0;
	color: $white-color;

	// Shadow
	&:after {
		background: linear-gradient(0, rgba($shadow-color, .8), rgba($shadow-color, 0));

		display: block;
		content: "";

		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 1;

		width: 100%;
		height: .2rem;
	}

	// Neutral links
	a {
		color: inherit;
	}

	// Each portfolio item
	article {
		@include section();

		background: #000;

		position: relative;
		overflow: hidden;

		padding-top: 15rem;
		padding-bottom: $margin * 3;

		// Images
		// First (Desktop) image as background
		figure {
			margin: 0;
		}

		figure:first-child {
			position: absolute;
			left: 0;
			top: 0;

			width: 100%;
			height: 100%;

			img {
				display: block;
				max-width: none;

				position: absolute;
				left: 50%;
			//	bottom: 0;
				top: 0;

				margin-left: -960px; // Images are 1920x1080

				opacity: .8;
				filter: blur(30px);
				-webkit-filter: blur(30px);

				transition: transform 15s linear, bottom 15s linear, filter 30s linear;
				transition: transform 15s linear, bottom 15s linear, -webkit-filter 30s linear;
			}
		}

		// Potential low-res images (tablet/phone)
		figure + figure {
			@include device(320px); // ("gfx/iphone.svg", 320, 100, 209.75, 14.30%, 6.41%, 13.54%, 7.56%);

			float: right;
			margin-bottom: -300px;
			margin-left: $margin * 2;

			// Put it down on the right side
		/*	position: absolute;
			bottom: -800px;
			right: 5%;

			// Pain in the ass way to position it flush to the right with the new @section styling (but worth it)
			@media (min-width: $max-site-width + 100) {
				right: 5%;

				right: calc(50% - #{$max-site-width / 2});
			} */

			// Slide it up from the bottom (below)
		//	transition: bottom .3s ease-in-out;

			// Scroll the img (website screenshot) on hover
			img {
				transition: transform 12s linear, top 12s linear;
				position: relative;
				top: 0;
			}

			&:hover img {
				top: 100%;
				transform: translateY(-100%);
			}
		}

		// Transition images when slide is active
		&:hover figure:first-child img {
		//	bottom: 100%;
		//	transform: translateY(100%);
		//	filter: blur(0);
		//	-webkit-filter: blur(0);
		}

		&:hover figure + figure {
		//	bottom: -250px;
		}

		// Position text etc on top of image
		* {
			position: relative;
		}

		// Project title
		h2 {
			margin-top: 100px;
			text-shadow: 1px 1px 1px $shadow-color;
		}

		// Description
		h2 + p {
			margin-bottom: $margin / 2;
			font-size: 120%;
			line-height: 1.2;
			font-style: italic;
			font-weight: lighter;
		}

		// Tags/technologies used
		ul {
			margin-left: 0;
			margin-bottom: $margin * 2;
			list-style: none;

			li {
				display: inline-block;
				margin: 0 .5rem 0 0;

				a {
					@include tag;
				}
			}
		}
	}

	article:not(:first-child) {
		display: none;
	}
}
