#header {
	@include section();

	&:after {
		display: none; // Remove clearfix
	}

	// Little gradient and shadows
	$header-bg-color: #012;

	background: linear-gradient(180deg, rgba($header-bg-color, .9), rgba($header-bg-color, .85) 50%, rgba($header-bg-color, .8) 50%);
//	background: rgba($header-bg-color, .75);
//	background: linear-gradient(140deg, rgba($header-bg-color, .75) 30%, lighten(rgba($header-bg-color, .75), 25%) 40%, lighten(rgba($header-bg-color, .75), 25%) 60%, rgba($header-bg-color, .75) 70%);

	box-shadow: 0 .1rem .1rem $shadow-color;

	// Some nice text
	color: $white-color;
	text-shadow: -1px -1px 1px rgba(60, 60, 60, .4);

	// Fixed header
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99;

	width: 100%;
	box-sizing: border-box; // Otherwise section()'s padding will fuck the size up

	// Flexbox!!
	@include flexbox;
	@include justify-content(space-between);
	@include align-items(center);

	// Shrink header on scroll
	transition: padding-top .1s ease-in-out, padding-bottom .1s ease-in-out;

	body.has-scrolled & {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	// Logo
	h1 {
		margin: 0;

		// Shrink header on scroll
		transition: font-size .1s ease-in-out;

		body.has-scrolled & {
			font-size: 2.2rem;
		}

		// Neutral link
		a {
			color: inherit;

			&:hover {
				text-decoration: none;
			}

			// I'm Andreas
			strong {
				font-weight: lighter;
			}

			// Tagline
			small {
				font-size: $default-size;
				color: inherit;
				overflow: hidden;

				// Hide tagline on scroll
				max-height: 2rem;
				transition: max-height .2s ease-in-out;

				body.has-scrolled & {
					max-height: 0;
				}
			}
		}
	}

	// Navigation
	nav {
		margin: 0;

		ul {
			margin: 0;
			list-style: none;

			li {
				display: inline-block;
				margin: 0 0 0 1rem;

				a {
					// Ugly inset button
				/*	background: linear-gradient(180deg, lighten(rgba($header-bg-color, .4), 10%), lighten(rgba($header-bg-color, .6), 20%));

					display: inline-block;
					padding: .4rem 1.4rem;

					border-radius: 2rem;
					box-shadow: inset 1px 1px 1px $shadow-color; */

					color: inherit;
					text-decoration: none;
					text-shadow: none;

					&:hover, 
					&:active {
						
					}
				}
			}
		}
	}

	// Search
	form {
		display: none;

		p {
			margin: 0;

			input[type=search] {
				@include button(transparent, 0, 1px solid $white-color);
				padding: .2rem 1.2rem;
				box-shadow: none;
				font-weight: normal;

				&:hover, 
				&:active {
					box-shadow: none;
					background: $white-color;
					color: $header-bg-color;
				}
			}
		}
	}
}
