#random-testimonials {
	article {
		@include flexbox;
		@include justify-content(space-between);
		@include align-items(center);

		margin: 0;

		perspective: 800px;

		figure {
			@include flex-shrink(0);
			@include card-flip;

			margin: 0 $margin 0 0;
			text-align: center;

			img {
				@include bordered(true);
				width: 200px;
			}

			figcaption {
				@include bordered(true);
				background: $white-color;

				padding-top: 60px;

				cite {
					font-style: normal;
				}
			}
		}

		blockquote {
			margin: 0;
			@include speech-bubble;
		}
	}

	article + article {
		display: none;
	}
}
