#random-testimonials {
	article {
		figure {
			text-align: center;

			float: left;
			margin: 0 $margin $margin 0;

			img {
				@include bordered(true);
			}

			figcaption {
				cite {
					font-style: normal;
				}
			}
		}
	}

	article:not(:first-child) {
		display: none;
	}
}
