#random-testimonials {
	article {
		@include flexbox;
		@include justify-content(space-between);
		@include align-items(center);

		margin: 0;

		figure {
			@include flex-shrink(0);

			margin: 0 $margin 0 0;
			text-align: center;

			img {
				@include bordered(true);
			}

			figcaption {
				display: none;

				cite {
					font-style: normal;
				}
			}
		}

		blockquote {
			margin: 0;
			@include speech-bubble;
		}
	}

	article:not(:first-child) {
		display: none;
	}
}
