#random-projects {
	article {
		margin: 0;

		img {
			float: left;
			margin: 0 $margin $margin 0;
			@include bordered();
		}

		h2 {
			margin-bottom: 0;

			small {
				display: inline-block;

				&:before {
					content: " - ";
				}
			}
		}

		ul {

		}
	}

	article + article {
		display: none;
	}
}
