@mixin form-field {
	@include body-text;

	&:hover, 
	&:focus {
		
	}
}

form {
	margin: 0 0 $margin;

	// Labels
	label {
		display: block;
	}

	// Error messages
	strong {
		
	}

	// "Mandatory"-*
	abbr {
		border-bottom: 0 !important;
	}

	// Fields
	input[type=text], 
	input[type=search], 
	input[type=email], 
	input[type=url], 
	input[type=tel], 
	input[type=number], 
	input[type=date], 
	input[type=month], 
	input[type=week], 
	input[type=time], 
	input[type=datetime], 
	input[type=datetime-local], 
	input[type=color], 
	textarea {
		@include form-field;
		box-sizing: border-box;
	}

	textarea {
		resize: y;
		max-width: 100%;
	}

	select {
		box-sizing: border-box;
	}

	// Buttons
	input[type=submit], 
	button {
		@include button;
		box-sizing: border-box;
	}
}
