#projects {
	@include inline-grid(2, $bp-medium);
	@include section;

	@media #{$bp-medium} {
		@include section-centering($site-width, -$padding-default);
	}

	article {
		@extend .project;

		max-width: 800px;
		max-height: 800px;

		margin-bottom: $margin-large;
		transition: all .2s ease-out;

		@media #{$bp-medium} {
			padding: 0 $padding-default;
		}

		&.hidden {
			max-width: 0;
			max-height: 0;
			padding: 0;
			margin: 0;
			overflow: hidden;
		}
	}
}
