#project {
	@extend .layout--two-col;

	header {
		@extend .project;

		h1 {
			@media #{$bp-medium} {
				float: left;
			}

			&:before {
				top: -3rem;
			}
		}

		h1 + p {
			margin-top: $margin-default;

			@media #{$bp-medium} {
				float: right;
				margin-top: 7rem;
			}
		}
	}
}
