form.search {
	p {
		@include clearfix;
		position: relative;
	}

	input {
		float: left;
		width: 300px;
		transition: width .1s ease-out;

		&:focus {
			width: 400px;
		}
	}

	// Annoyingly complex selector because these buttons are usually styled with less padding
	button:empty:not([value]) {
		// Remove button styling
		background: transparent;
		margin: 0;
		padding: 0;
		border: 0;
		box-shadow: none;

		// Position
		float: left;
		margin-left: -2rem;
		margin-top: $form-padding-vertical;
		line-height: $line-height-default;

		// Hello
		color: $color-text;
	}
}
